<%= form_for(@photo_blog) do |f| %>
  <% if @photo_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_blog.errors.count, "error") %> prohibited this photo_blog from being saved:</h2>

      <ul>
      <% @photo_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entry %><br>
    <%= f.text_area :entry %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date_taken %><br>
    <%= f.date_select :date_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
